.features {
    text-align: center;
    
    @include breakpoints-down(medium) {
        margin-top: 9.5rem;
    } 

    &__grid {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;

            @include breakpoints-up(medium) {
                left: 0;
                right: 0;
                height: auto;
                max-width: 70rem;
                margin: 0 auto;
            }
    }

    &__item {
        @include breakpoints-up(medium) {
            flex: 0 0 50%;
            padding: 0rem 5rem 4rem 5rem;
        }     
        @include breakpoints-down(medium) {
            flex: 100%;
        }       
    }

    &__icon {   
        position: relative;   
        left: -2%;     
        transform: translate(-50%);  
        display: inline-block;
        width: 1.8rem;
        height: 1.8rem;
        margin-bottom: 5rem;
    }

    &__title {
        font-family: 'Raleway', sans-serif;
        font-size: 1.2rem;
        line-height: 1rem;
    }

    &__description {
        @include breakpoints-down(medium) {
            margin-bottom: 7rem;
        }
    }
}



