.formcta {   
    &__input {
        position: absolute;
        left: 0;
        right: 0;
        height: auto;
        margin: 0 auto;
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        overflow:auto;       
        border-radius: 1rem;
        box-shadow: 0 0 50px $darkBlueFooter;
        background-color: $darkBlue;
        text-align: center;

        @include breakpoints-up(medium) {
            top:75%;
            padding: 2rem 2rem 3rem 2rem;
            max-width: 53rem;           
        }
        @include breakpoints-down(medium) {
            top: 82%;
            padding: 2rem;
            max-width: 21rem;
        }
    }

    &__email {
        padding-left: 2rem;
        border:0;
        border-radius: 2rem;
        outline: none;
       
        &::placeholder {
            color: lightgrey;
        }

        @include breakpoints-up(medium) {
            width: 29rem;           
            height: 3.5rem;
            margin-right: 1rem;   
        }
      
        @include breakpoints-down(medium) {
            min-width: 16.6875rem;
            height: 2.9rem;   
            margin-right: 0rem;   
            margin-bottom: 1.5rem;              
        }
    }



    &__title {
        font-size: 2.1rem;

        @include breakpoints-down(medium) {
            font-size: 1.1rem;
        }
    }

    &__description {
        max-width: 39rem;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 2.5rem;

        @include breakpoints-down(medium) {
            max-width: 16rem;
            line-height: 1.35rem;          
        }
    }
}
