.fyloworks {
    &__grid {
        justify-content: center;  
        align-items: center;     
        display:grid;
        grid-template-columns: 1fr;   
             
        @include breakpoints-up(large){
           margin: 4rem 6.5rem 0rem 6.5rem;
           grid-template-columns: repeat(2, 1fr);                 
        }
    }

    &__item {
        justify-content: center;
        @include breakpoints-up(medium) {
            flex:1;
        } 
        @include breakpoints-down(medium) {
            margin: auto;
        }
    }

    &__image {       
        @include breakpoints-up(medium) {
            max-width: 36rem;
            height: auto;
            margin-right: 5rem;
        }
        @include breakpoints-down(medium) {
            max-width: 18rem;
            height: 14rem;
            margin-right: 0;
        }
    }

    &__title {
        width: 100%;
        font-size: 1.1rem;
        line-height: 3rem;  
        
        @include breakpoints-up (large) {
            width: 58%;
            margin-top: 5.5rem;
            margin-bottom: 1rem;
            font-size: 2.1rem;
        }
    }

    &__description {
        @include breakpoints-down(medium) {
            font-size: .875rem;         
        }
    }

    a {
       display: inline-block;
       padding-bottom: 2px;   
       border-bottom: 0.1rem solid $cyan;          
       color: $cyan;
       text-decoration: none;
       transition: 150ms ease-in-out;

        svg {
            vertical-align: middle; 
            width: 1rem;
            height: 1rem;
        }

        &:hover {
            border-bottom: 0.1rem solid $white; 
            color: $white;
            cursor: pointer;
            
            svg use{
                fill: $white;
            }
        }     
    }
}