.intro {
    position: relative;
    background-color: $darkBlue;
    text-align: center;

    @include breakpoints-down(medium) {
        padding-bottom: 0rem;
        background-image: url('../images/bg-curvy-desktop.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    @include breakpoints-up(medium) {
        padding-bottom: 13rem;
        background-image: url('../images/bg-curvy-desktop.svg');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    &-vpup{
        @include breakpoints-up(medium) {
            width: 50%;
        }
    }
   
    &__image {
        margin-top: 0;
        margin-bottom: 27px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @include breakpoints-up(medium) {
            width: 100%;
            height: auto;
        }
        @include breakpoints-down(medium) {
            width: 85%;
            height: auto;
        }
    }

    &__title {
        position: relative;
        
        @include breakpoints-up(medium) {
            margin-bottom: 2rem;
        }
        @include breakpoints-down(medium) {
            margin-bottom: 0.625rem;
        }
    }

    &__description {
        font-weight: 50;

        @include breakpoints-up(medium) {
            width: 86%;
            margin: 0 auto 3rem auto;
            font-size: 1.25rem;
            line-height: 2.1rem;
        }

        @include breakpoints-down(medium) {
            padding: 0.4rem;
            margin-bottom: 1.80rem;
            font-size: 0.840rem;
            line-height: 1.375rem;
        }
    }

    a {
        @include breakpoints-up(medium) {
            padding: 1.1rem 5.2rem;
        }
        @include breakpoints-down(medium) {
            padding: 1.1rem 4.2rem;
        }        
    }
}