//Colors---------------------

//Primary Colors
$darkBlue : hsl(217, 28%, 15%); //(intro and email sign up background)
$darkBlueMain : hsl(218, 28%, 13%); //(main background)
$darkBlueFooter : hsl(216, 53%, 9%); //(footer background)
$darkBlueTesti : hsl(219, 30%, 18%); //(testimonials background)

//Accent
$cyan : hsl(176, 68%, 64%); //(inside call-to-action gradient)
$blue : hsl(198, 60%, 50%); //(inside call-to-action gradient)
$lightRed : hsl(0, 100%, 63%); //(error)


//Neutral
$white : hsl(0, 0%, 100%);

//Font Weight------------------
$fourHweight: 400;
$sevenHweight: 700;

$fontDefault: 0.875rem;